<STYLE>
BODY
{
    COLOR: black;
    BACKGROUND-COLOR: #008000;
    TEXT-ALIGN: center
}
#wrapper
{
    WIDTH: 662px;
    TEXT-ALIGN: center
}
#heading
{
    BORDER-RIGHT: black;
    BORDER-TOP: black;
    BORDER-LEFT: black;
    WIDTH: 100%;
    BORDER-BOTTOM: black;
    TOP: 50%;
    HEIGHT: 75px;
    TEXT-ALIGN: right
}
#menuboxborder
{
    BORDER-RIGHT: white;
    BORDER-TOP: white;
    LEFT: 100pt;
    BORDER-LEFT: white;
    WIDTH: 220px;
    BORDER-BOTTOM: white;
    POSITION: relative;
    HEIGHT: 100%;
    TEXT-ALIGN: left
}
#loged
{
    FONT-SIZE: smaller;
    COLOR: white
}
A#menubox
{
    FONT-SIZE: smaller;
    COLOR: white;
    TEXT-DECORATION: none
}
A#menubox:link
{
    FONT-SIZE: smaller;
    COLOR: white;
    TEXT-DECORATION: none
}
A#menubox:visited
{
    FONT-SIZE: smaller;
    COLOR: white;
    TEXT-DECORATION: none
}
A#menubox:hover
{
    FONT-SIZE: smaller;
    COLOR: black;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
#raidpoints
{
    FONT-SIZE: smaller;
    COLOR: white
}
#links
{
    BORDER-RIGHT: black;
    BORDER-TOP: black;
    BACKGROUND-IMAGE: url(http://www.eqguilded.com/dot/topround.jpg);
    BORDER-LEFT: black;
    BORDER-BOTTOM: black;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
A#link
{
    FONT-WEIGHT: bolder;
    COLOR: black;
    TEXT-DECORATION: none
}
A#link:link
{
    FONT-WEIGHT: bolder;
    COLOR: black;
    TEXT-DECORATION: none
}
A#link:visited
{
    FONT-WEIGHT: bolder;
    COLOR: black;
    TEXT-DECORATION: none
}
A#link:hover
{
    FONT-WEIGHT: bolder;
    COLOR: white;
    BACKGROUND-COLOR: black;
    TEXT-DECORATION: none
}
#content
{
    COLOR: black
}
#news
{
}
#newsname
{
    FONT-WEIGHT: bolder;
    COLOR: black
}
#newstext
{
    BORDER-RIGHT: inset;
    BORDER-TOP: inset;
    BORDER-LEFT: inset;
    WIDTH: 300px;
    COLOR: black;
    BORDER-BOTTOM: inset;
    HEIGHT: 150px;
    BACKGROUND-COLOR: white
}
#admin
{
}
#adminhr
{
    WIDTH: 75%;
    COLOR: blue
}
A#adminlink
{
    COLOR: black;
    TEXT-DECORATION: none
}
A#adminlink:link
{
    COLOR: black;
    TEXT-DECORATION: none
}
A#adminlink:visited
{
    COLOR: black;
    TEXT-DECORATION: none
}
A#adminlink:hover
{
    COLOR: white;
    BACKGROUND-COLOR: gray;
    TEXT-DECORATION: none
}
#rostertable
{
    BORDER-RIGHT: black double;
    BORDER-TOP: black double;
    BORDER-LEFT: black double;
    WIDTH: 650px;
    BORDER-BOTTOM: black double;
    BACKGROUND-COLOR: white
}
#rostertext
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: larger;
    COLOR: black;
    TEXT-ALIGN: center
}
A#rostername
{
    COLOR: black;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A#rostername:link
{
    COLOR: black;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A#rostername:visited
{
    COLOR: black;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A#rostername:hover
{
    COLOR: white;
    BACKGROUND-COLOR: black;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
#rostertext2
{
    COLOR: black;
    TEXT-ALIGN: center
}
#rosterhr
{
    COLOR: black
}
#body
{
    BACKGROUND-COLOR: #008000;
    TEXT-ALIGN: center
}
#namea
{
    FONT-SIZE: 26pt;
    LEFT: 5pt;
    COLOR: silver;
    POSITION: relative;
    TOP: 7pt;
    TEXT-ALIGN: left
}
#nameb
{
    FONT-SIZE: 26pt;
    LEFT: 2pt;
    COLOR: black;
    POSITION: relative;
    TOP: -25pt
}
#main
{
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
</STYLE>