<CENTER>
  <TABLE width=100% height=100% BORDER="0" CELLPADDING="7" ALIGN="Center">
    <TR>
      <TD width="60%" VALIGN="Top">
       <h4>Current Events</h4>

!!NEWS!!
<A HREF="http://www.seekersofserenity.com/index.pl?newshistory">News History</A>
<BR><P><BR>


!!LEFTBOXS!!

      </TD>
      <TD VALIGN="Top">

      <br><P><BR>

!!RIGHTBOXES!!

!!STATS!!

      </TD>
    </TR>
  </TABLE>
  <BR><P><BR>
  <small>Copyright &copy; 2006 Seekers of Serenity. All rights reserved. </small>
</CENTER>