<HTML>
<HEAD>
  <TITLE>EQ Guilded</TITLE>
  <LINK REL="STYLESHEET" TYPE="text/css" HREF="style.css">
</HEAD>
<BODY class=body>
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
  <TR>
    <TD BACKGROUND="images/bar.gif" COLSPAN=2><IMG SRC="images/Logo.gif" WIDTH="316"
	  HEIGHT="123"></TD>
    <TD COLSPAN="2" BACKGROUND="images/bar.gif" VALIGN="Top" WIDTH=50%><TABLE
      BORDER="0" CELLSPACING="4" CELLPADDING="4" WIDTH="100%">
	<TR>
	  <TD><P ALIGN=Right>
	    Home| Contact | Help | Forms
	    <FORM ACTION="server.cgi" METHOD="POST">
	      <P ALIGN=Right>
	      <SELECT NAME="server"> 
	      <OPTION SELECTED>DruzzleRo</SELECT> 
	      <INPUT TYPE=submit VALUE="Go">
	    </FORM>
	  </TD>
	</TR>
      </TABLE>
    </TD>
  </TR>
  <TR>
    <TD ROWSPAN=3 VALIGN="Top" WIDTH=10% BACKGROUND="images/curvbot.gif"><IMG
	  SRC="images/curvtop.gif" WIDTH="156" HEIGHT="62">
      <TABLE BORDER="0" CELLSPACING="4" CELLPADDING="4" WIDTH="100%">
	<TR>
	  <TD><TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" width=150>
	      <TR>
		<TD><TABLE BORDER=0 CELLSPACING="4" CELLPADDING="4" WIDTH=100%>
		    <TR>
		      <TD><TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" width=150>
			  <TR>
			    <TD><TABLE border="0" cellpadding="0" cellspacing="0" width="100%" class="menutable">
				<TR>
				  <TD>&nbsp;Main Menu</TD>
				</TR>
			      </TABLE>
			      <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" class="menubordercolor">
				<TR>
				  <TD width="100%"><TABLE border="0" cellpadding="0" cellspacing="3" width="100%"
				    class="menubackcolor">
				      <TR>
					<TD class="cat"><IMG SRC="images/dot.gif" WIDTH="6" HEIGHT="8">&nbsp;<A href="#home"
					   class="menu">Home</A><BR>
					 <IMG SRC="images/dot.gif" WIDTH="6" HEIGHT="8">&nbsp;<A href="#home" class="menu">Contact</A><BR>
					 <IMG SRC="images/dot.gif" WIDTH="6" HEIGHT="8">&nbsp;<A href="#home" class="menu">Help</A><BR>
					 <IMG SRC="images/dot.gif" WIDTH="6" HEIGHT="8">&nbsp;<A href="#home" class="menu">Forms</A></TD>
				      </TR>
				    </TABLE>
				  </TD>
				</TR>
			      </TABLE>
			    </TD>
			  </TR>
			</TABLE>
			<P>
			<TABLE BORDER="0" CELLSPACING="4" CELLPADDING="4">
			  <TR>
			    <TD>!!logbox!!
			      <P>
			      !!leftblocks!!</TD>
			  </TR>
			</TABLE>
		      </TD>
		    </TR>
		  </TABLE>
		</TD>
	      </TR>
	    </TABLE>
	  </TD>
	</TR>
      </TABLE>
    </TD>
    <TD ROWSPAN=3 COLSPAN=2 VALIGN="Top" width=80%><TABLE BORDER="0" CELLSPACING="4"
      CELLPADDING="4" WIDTH=100%>
	<TR>
	  <TD><TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" width=100%>
	      <TR>
		<TD><TABLE border="0" cellpadding="0" cellspacing="0" width="100%" class="menutable">
		    <TR>
		      <TD>&nbsp;About EQ Guilded</TD>
		    </TR>
		  </TABLE>
		  <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" class="menubordercolor">
		    <TR>
		      <TD width="100%"><TABLE border="0" cellpadding="0" cellspacing="3" width="100%"
			class="menubackcolor">
			  <TR>
			    <TD class="cat"><CENTER>
				<CENTER>
				  <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="2" ALIGN="Center">
				    <TR>
				      <TD><A HREF="http://www.eqguilded.com/images/demo.jpg" TARGET="_new"><IMG
					  SRC="http://www.eqguilded.com/images/demo.jpg" WIDTH="100" HEIGHT="100" BORDER="0"></A></TD>
				      <TD VALIGN="Top">Welcome to EQ Guilded. A new service for creating your own
					guild website with out all the work. With EQ Guilded you can fully customize
					the look of your site, have a full charter, private messaging, guild vault,
					member ranking's, edit main page content, edit link list, and much more...</TD>
				    </TR>
				    <TR>
				      <TD COLSPAN=2 VALIGN="Top"><P ALIGN=Left>
					With BlaBLaBla<BR>
					FFF<BR>
					FFF<BR>
					FFF</TD>
				    </TR>
				  </TABLE>
				</CENTER>
			      </CENTER>
			    </TD>
			  </TR>
			</TABLE>
		      </TD>
		    </TR>
		  </TABLE>
		</TD>
	      </TR>
	    </TABLE>
	  </TD>
	</TR>
      </TABLE>
      <P>
      !!news!!</TD>
    <TD ROWSPAN=3 VALIGN="Top" WIDTH=10%><BR>
      <TABLE BORDER=0 CELLSPACING="4" CELLPADDING="4" WIDTH=100%>
	<TR>
	  <TD><TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" width=150>
	      <TR>
		<TD><TABLE border="0" cellpadding="0" cellspacing="0" width="100%" class="menutable">
		    <TR>
		      <TD>&nbsp;Poll</TD>
		    </TR>
		  </TABLE>
		  <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" class="menubordercolor">
		    <TR>
		      <TD width="100%"><TABLE border="0" cellpadding="0" cellspacing="3" width="100%"
			class="menubackcolor">
			  <TR>
			    <TD class="cat">Poll Coming Soon!!</TD>
			  </TR>
			</TABLE>
		      </TD>
		    </TR>
		  </TABLE>
		</TD>
	      </TR>
	    </TABLE>
	    <P>
	    !!rightblocks!!</TD>
	</TR>
      </TABLE>
    </TD>
  </TR>
  <TR>
  </TR>
  <TR>
  </TR>
  <TR>
    <TD COLSPAN=4 BACKGROUND="images/botbar.gif"><IMG SRC="images/botbar.gif"
	  WIDTH="47" HEIGHT="40"></TD>
  </TR>
</TABLE>
<CENTER>
  <FONT face="Arial" size="1">&copy; COPYRIGHT 2003 ALL RIGHTS RESERVED
  EQGUILDED.COM</FONT>
</CENTER>
<P>
</BODY></HTML>
