#wrapper
{
    WIDTH: 697px
}
#heading
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-IMAGE: url(http://www.erenetwork.com/style/Defalt/defaltbg.gif);
    BACKGROUND-REPEAT: no-repeat;
    TOP: 25pt;
    HEIGHT: 110pt;
    TEXT-ALIGN: right;
    BACKGROUND-: url(http://www.erenetwork.com/dotguild/style/Defalt/defaltbg.gif)
}
#loged
{
    FONT-SIZE: smaller;
    COLOR: black
}
#message
{
    FONT-SIZE: smaller;
    COLOR: black
}
#raidpoints
{
    FONT-SIZE: smaller;
    COLOR: black
}
#vist
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: smaller;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: left
}
#links
{
    BACKGROUND-POSITION: center top;
    BACKGROUND-IMAGE: url(http://www.erenetwork.com/style/Defalt/bar.gif);
    WIDTH: 100%;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 20px
}
#news
{
    TEXT-ALIGN: center
}
#newstext
{
    BORDER-RIGHT: blue double;
    BORDER-TOP: blue double;
    BORDER-LEFT: blue double;
    WIDTH: 300pt;
    COLOR: black;
    BORDER-BOTTOM: blue double;
    HEIGHT: 150pt;
    BACKGROUND-COLOR: white
}
#admin
{
    MARGIN-TOP: 10px;
    TEXT-ALIGN: center
}
BODY
{
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
A#editlog
{
    FONT-SIZE: smaller;
    COLOR: black
}
A#sendmessage
{
    FONT-SIZE: smaller;
    COLOR: black
}
A#visitlist
{
    COLOR: black;
    TEXT-DECORATION: none
}
A#visitlist:hover
{
    COLOR: white;
    BACKGROUND-COLOR: black;
    TEXT-DECORATION: underline overline
}
#adminhr
{
    WIDTH: 75%;
    COLOR: blue
}
#aprovetable
{
    BORDER-RIGHT: blue double;
    PADDING-RIGHT: 1px;
    BORDER-TOP: blue double;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: blue double;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: blue double
}
#adminhead
{
    FONT-SIZE: larger
}
#adminlinks
{
    BORDER-RIGHT: khaki;
    BORDER-TOP: khaki;
    BORDER-LEFT: khaki;
    BORDER-BOTTOM: khaki
}
A#adminlink
{
    COLOR: black;
    TEXT-DECORATION: none
}
A#adminlink:hover
{
    COLOR: white;
    BACKGROUND-COLOR: black;
    TEXT-DECORATION: underline overline
}
A#link
{
    FONT-SIZE: larger;
    COLOR: black;
    TEXT-DECORATION: none
}
A#link:hover
{
    COLOR: white;
    BACKGROUND-COLOR: black;
    TEXT-DECORATION: underline overline
}
#text1
{
    FONT-SIZE: larger;
    COLOR: red;
    TEXT-ALIGN: center
}
#text2
{
    FONT-WEIGHT: bolder;
    COLOR: black
}
#text3
{
    COLOR: black
}
#text4
{
    COLOR: black;
    TEXT-ALIGN: center
}
#input
{
    COLOR: white;
    BACKGROUND-COLOR: blue
}
#table
{
    BORDER-RIGHT: blue double;
    BORDER-TOP: blue double;
    BORDER-LEFT: blue double;
    BORDER-BOTTOM: blue double
}
#content
{
    TEXT-ALIGN: center
}
#pages
{
    FONT-SIZE: smaller;
    COLOR: black;
    TEXT-ALIGN: left
}
A#pageslink
{
    FONT-WEIGHT: bolder;
    COLOR: black;
    TEXT-DECORATION: none
}
A#pageslink:hover
{
    FONT-WEIGHT: bolder;
    COLOR: white;
    BACKGROUND-COLOR: black;
    TEXT-DECORATION: underline overline
}
#pagelist
{
    TEXT-ALIGN: center
}
