Body {background-color:black; font-family:Copperplate Gothic Light}
A {color:006699;text-decoration:None}
A:hover {color:purple}
font.Highlighted {color:FBFBFB}
font.bText{color:007799;font-family:Copperplate Gothic Light;font-size:12pt}
font.tText{color:007799;font-family:Copperplate Gothic Light;font-size:18pt; text-align: center }
font.Numeral{color:007799;font-family:Copperplate Gothic Light;font-size:22pt}